/app/config/configuration.php
/app/config/environment.php
/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
/public-ci/includes/environment.php
/public-ci/includes/configuration.php
/public-ci/application/views/templates_c/
/public-ci/application/views/templates_mobile_c/
/public-ci/application/libraries/smarty3/
/public-ci/application/third_party/vendor/
