<Limit GET>
order allow,deny
deny from 122.161.
deny from 122.162.
deny from 122.163.
allow from all
</LIMIT>

AddType image/x-icon .ico
AddType audio/x-mpeg .mp3
AddType video/mp4 .mp4
AddType video/ogg .ogv
AddType video/webm .webm

RedirectMatch 301 ^\/entry/([^$]*)([|/]) /index.php/news/entry/$1/

SetEnvIf HOST dev.admin.observantrecords.com dev
SetEnvIf HOST test.admin.observantrecords.com test
AuthType Basic
AuthUserFile /home/nemesisv/.htpasswd
AuthName "Observant Records development site"
require valid-user

Order allow,deny
Allow from all
Deny from env=dev
Deny from env=test
Satisfy any