<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    # Redirect Trailing Slashes...
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>

SetEnvIf HOST dev.admin.observantrecords.com dev
SetEnvIf HOST test.admin.observantrecords.com test
AuthType Basic
AuthUserFile /home/grebue5/.htpasswd
AuthName "Observant Records development site"
require valid-user

Order allow,deny
Allow from all
Deny from env=dev
Deny from env=test
Deny from env=dev-org
Satisfy any